#设置node-sass的离线版本，如果在本地npm install时下载node-sass失败，项目无法启动，请将下方的sass_binary_path注释放开，
#默认是从制品库下载，正常情况下都是可以下载到的如果无法下载，可用离线版本代替,本地开发运行编译时node-sass使用的是windows版本，
#修改后push代码时请不要传到git仓库，否则会导致奋进号流水线构建失败。
#请先确保npm源的设置是正确的，node-sass和npm源是两个不同的仓库地址，具体请参考开发者门户：
#  http://dp.nb.cn/#/knowledgeSquare/knowledgeDetail?contentId=5983

# D:\MyCode\front\mercury-internal-manage-web\ 这个路径请填写你的项目路径，对应到offline目录下

#sass_binary_path=C:\lgms\demo-quick-remt-web\offline\win32-x64-83_binding.node
